body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #8e6f5e;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

nav {
    background-color: #8e6f5e; /* Lighter brown for navigation */
padding: 20px;
width: 100%;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 40px;
}

h1{
    color: #ffffff;

}

a {
    color: #6d4629;
}

a:hover {
    color: #824d29;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-box {
    flex: 1 1 300px; /* Initial width of project box */
    border: 1px solid #ccc;
    padding: 20px;
}


/* Media Queries for responsiveness */
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .content {
        padding: 0 10px;
    }
.content p {
    color: #6d4629; /* Brown color for the text */
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
}

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
clear: both;
width: 100%;
}
 
